.c-Main-layout {
    padding-top: 65px;
    min-height: calc(100vh - 65px);
    width: 100%;
    &__Inner {
        max-width: 1200px;
        padding: 0 100px;
        height: 100%;
        margin: auto;

        @media (max-width: 1000px) {
            padding-left: 40px;
            padding-right: 40px;
        }
    }
}
