.c-About-us {
    .c-Hero {
        max-width: 1200px;
        padding: 0 100px;
        padding-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: auto;
        text-align: center;
        h1 {
            font-size: $font-x-large;
            font-weight: bold;
        }
        p {
            margin-top: 10px;
            font-size: $font-small;
            font-weight: bold;
            text-align: center;
        }
    }

    .c-CD {
        max-width: 1200px;
        padding: 0 100px;
        padding-top: 100px;
        margin: auto;
        .c-Top {
            h1 {
                text-align: center;
                font-size: $font-medium;
            }
            p {
                margin-top: 10px;
                text-align: center;
                color: #86868b;
                font-weight: 600;
                font-size: $font-small;
            }
        }
    }

    .c-Partners {
        max-width: 1200px;
        padding: 0 100px;
        padding-top: 100px;
        margin: auto;
        h1 {
            font-size: $font-medium;
            text-align: center;
        }

        &__Img-list {
            margin-top: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            img {
                &:first-of-type {
                    margin-right: 50px;
                }

                &:last-of-type {
                    margin-left: 50px;
                }
            }
        }
    }

    .c-FAQs {
        background-color: #fafafa;
        padding: 100px 40px;
        margin-top: 100px;

        &__Header {
            font-size: $font-large;
            text-align: center;
            margin-bottom: 40px;
        }
    }

    @media (max-width: 1000px) {
        .c-Hero {
            padding-left: 40px;
            padding-right: 40px;
        }
        .c-CD {
            padding-left: 40px;
            padding-right: 40px;
        }

        .c-Partners {
            padding-left: 40px;
            padding-right: 40px;

            &__Img-list {
                flex-direction: column;
                img {
                    &:first-of-type {
                        margin-right: 0;
                        margin-bottom: 20px;
                    }

                    &:last-of-type {
                        margin-left: 0;
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}

.c-About-us-core-domains {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin: 30px auto;
    .c-Item {
        position: relative;
        width: 100%;

        img {
            width: 100%;
            height: 100%;
            aspect-ratio: 2 / 1;
            border-radius: 5px;
            object-fit: cover;
        }

        .c-Details {
            position: absolute;
            bottom: 0;
            left: 0;
            border-radius: 0 0 5px 5px;
            background-color: rgba(255, 255, 255, 0.72);
            -webkit-backdrop-filter: saturate(180%) blur(10px);
            backdrop-filter: saturate(180%) blur(10px);
            padding: 20px 0;
            width: 100%;
            h1 {
                font-size: $font-small;
                margin-left: 30px;
            }
        }
    }

    @media (max-width: 700px) {
        grid-template-columns: 1fr;

        .c-Item {
            .c-Details {
                padding: 15px 0;
            }
        }
    }
}
