.c-Events {
    &__Top {
        h1 {
            font-size: $font-large;
        }
        p {
            font-size: $font-small;
            color: #545969;
        }
    }

    .c-List {
        margin-top: 50px;
        .c-HR {
            border: none;
            border-top: 1px solid #ebeef1;
            margin: 30px 0;
        }
    }
}

.c-No-events {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 20px 0;

    &__Icon-container {
        background-color: #f6f8fa;
        padding: 10px;
        border-radius: 5px;
        .c-No-events__Icon {
            color: #87909f;
            font-size: 30px;
        }
    }

    h1 {
        font-size: $font-medium;
        font-weight: bold;
        margin-top: 10px;
    }
    p {
        font-size: $font-small;
        font-weight: 600;
        color: #545969;
        margin-top: 10px 0;
    }
}
