.c-Events {
    margin-top: 50px;
    margin-bottom: 100px;
    &__Top {
        h1 {
            font-size: $font-large;
        }
        p {
            font-size: $font-small;
            color: #545969;
        }
    }

    .c-List {
        margin-top: 50px;
        .c-HR {
            border: none;
            border-top: 1px solid #ebeef1;
            margin: 30px 0;
        }
    }
}
