.c-Join-us {
    .c-Hero {
        padding: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1 {
            font-size: $font-x-large;
            background: $gradient-ig;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        p {
            text-align: center;
            margin: 20px 0;
            font-size: $font-small;
            color: #545969;
            max-width: 550px;
            font-weight: 500;
        }
        .c-Btns {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    }

    .c-Pictures {
        padding: 30px 100px;

        &__Caption {
            margin-top: 20px;
            text-align: center;
            font-size: $font-x-small;
            color: #aaaaaa;
            font-weight: bold;
        }
    }

    .c-Socials {
        padding: 50px 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            font-size: $font-large;
            background: $gradient-fire;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            text-align: center;
        }
    }

    .c-IG {
        padding: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            font-size: $font-large;
        }
    }
}

.c-Join-us-picture-bento-box {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    img {
        border-radius: 5px;
        width: 100%;
        height: 100%;
        max-height: 200px;
        object-fit: cover;

        &:last-of-type {
            max-height: none;
        }
    }
    &__One {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    &__Two {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    &__Three {
        grid-column: 1 / 3;
        grid-row: 2 / -1;
    }
    &__Four {
        grid-column: 3 / -1;
        grid-row: 1 / -1;
    }
}

.c-Join-us-social-links {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
    .c-Link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #6e6e73;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
            transform: translateY(-1px);
        }

        &:active {
            opacity: 0.7;
            transform: translateY(0px);
        }

        &__Icon {
            font-size: $font-x-large;
        }

        &__Text {
            margin-top: 10px;
            font-size: $font-small;
            font-weight: bold;
            display: flex;
            flex-direction: row;
            align-items: center;
            color: $paym-blue;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
            .c-Text__Icon {
                margin-left: 5px;
            }
        }
    }
}

.c-Join-us-igs {
    margin: 50px 0;
    .c-Join-us-ig {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 50px 0;

        &:first-of-type {
            margin-top: 0;
        }

        &:last-of-type {
            margin-bottom: 0;
        }

        &--even {
            .c-Details {
                margin-right: 50px;
            }
        }

        &--odd {
            .c-Img {
                margin-right: 50px;
            }
        }

        .c-Details {
            h1 {
                font-size: $font-medium;
                font-weight: bold;
            }
            p {
                margin: 20px 0;
                font-size: $font-small;
            }
            .c-Btns {
                display: flex;
                flex-direction: row;
                a {
                    &:nth-last-child(1) {
                        margin-left: 20px;
                    }
                }
            }
        }

        &__Img {
            img {
                border-radius: 5px;
                height: 300px;
                width: 300px;
                box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
                    0 8px 16px -8px rgba(0, 0, 0, 0.3);
            }
        }
    }
}
