.c-Release-notes {
    max-width: 1200px;
    margin: auto;
    padding: 50px 100px;
    padding-bottom: 100px;

    @media (max-width: 1000px) {
        padding-left: 40px;
        padding-right: 40px;
    }

    h1 {
        font-size: $font-large;
    }
    &__Changelog {
        margin: 20px 0;
    }
}
