.c-View-event {
    &__Top {
        display: flex;
        flex-direction: row;
        padding: 20px 0;
    }

    &__Middle {
        display: flex;
        margin: 10px 0;
        justify-content: space-between;
        align-items: center;

        .c-Middle__Pic {
            flex: 0.8;
            position: relative;
            aspect-ratio: 1 / 1;
            img {
                border-radius: 5px;
            }
        }

        .c-Middle__Info {
            flex: 1;
            margin-left: 100px;
            h1 {
                font-size: $font-large;
                font-weight: 700;
            }
            .c-Info__Pill {
                display: block;
                margin-top: 10px;
            }
            .c-Location {
                display: flex;
                flex-direction: row;
                margin-top: 15px;
                &__Icon {
                    font-size: $font-medium;
                }
                p {
                    padding-left: 10px;
                    font-size: $font-small;
                }
            }
            .c-Date-and-time {
                display: flex;
                flex-direction: row;
                margin-top: 10px;
                .c-Date {
                    display: flex;
                    flex-direction: row;
                    &__Icon {
                        font-size: $font-medium;
                    }
                    p {
                        padding-left: 10px;
                        font-size: $font-small;
                    }
                }
                .c-Time {
                    padding-left: 20px;
                    display: flex;
                    flex-direction: row;
                    &__Icon {
                        font-size: $font-medium;
                    }
                    p {
                        padding-left: 10px;
                        font-size: $font-small;
                    }
                }
            }

            .c-Info__Price {
                margin: 20px 0;
                h2 {
                    font-size: $font-medium;
                    font-weight: bold;
                }
                p {
                    font-size: $font-x-small;
                    color: #818181;
                }
            }

            a {
                width: 100%;
            }
        }
    }

    .c-View-event__Desc {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        padding: 30px 0;
        text-align: center;
        h2 {
            font-size: $font-medium;
            font-weight: bold;
        }
        p {
            font-size: $font-small;
            padding-top: 10px;
        }
    }

    hr {
        margin: 20px 0;
        height: 0px;
        border: none;
        border-top: 0.0000000001px solid #cbcbcb;
        border-radius: 5px;
    }

    .c-View-event__View-all-events {
        padding: 30px 0;
        padding-bottom: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
