.c-View-event {
    &__Top {
        display: flex;
        flex-direction: row;
        margin: 20px 0;
    }

    &__Middle {
        display: flex;
        margin-top: 20px;
        justify-content: space-between;
        align-items: center;

        .c-Middle__Pic {
            flex: 0.8;

            .c-Img {
                width: 100%;
                height: 100%;
                aspect-ratio: 1 / 1;
                border-radius: 5px;
                box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
                    0 8px 16px -8px rgba(0, 0, 0, 0.3);
                &--loading {
                    box-shadow: none;
                }
            }
        }

        .c-Middle__Info {
            flex: 1;
            margin-left: 100px;
            width: 100%;
            h1 {
                font-size: $font-large;
                font-weight: 700;
            }
            .c-Info__Pill {
                display: block;
                margin-top: 10px;
            }
            .c-Location {
                display: flex;
                flex-direction: row;
                margin-top: 15px;
                &__Icon {
                    font-size: $font-medium;
                }
                p {
                    padding-left: 10px;
                    font-size: $font-small;
                }
            }
            .c-Date-and-time {
                display: flex;
                flex-direction: row;
                margin-top: 10px;
                .c-Date {
                    display: flex;
                    flex-direction: row;
                    &__Icon {
                        font-size: $font-medium;
                    }
                    p {
                        padding-left: 10px;
                        font-size: $font-small;
                    }
                }
                .c-Time {
                    padding-left: 20px;
                    display: flex;
                    flex-direction: row;
                    &__Icon {
                        font-size: $font-medium;
                    }
                    p {
                        padding-left: 10px;
                        font-size: $font-small;
                    }
                }
            }

            .c-Info__Price {
                margin: 20px 0;
                h2 {
                    font-size: $font-medium;
                    font-weight: bold;
                }
                p {
                    font-size: $font-x-small;
                    color: #818181;
                }
            }

            a {
                width: 100%;
            }
        }
    }

    .c-View-event__Desc {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        padding: 30px 0;
        text-align: center;
        h2 {
            font-size: $font-medium;
            font-weight: bold;
        }
        p {
            font-size: $font-small;
            padding-top: 10px;
        }
    }

    hr {
        margin: 20px 0;
        height: 0px;
        border: none;
        border-top: 0.0000000001px solid #cbcbcb;
        border-radius: 5px;
    }

    .c-View-event__View-all-events {
        padding: 30px 0;
        padding-bottom: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media (max-width: 1000px) {
        max-width: 400px;
        margin: auto;
        .c-View-event {
            &__Middle {
                flex-direction: column;

                .c-Middle__Pic {
                    flex: 1;
                    width: 100%;
                    height: 100%;
                }

                .c-Middle__Info {
                    margin-top: 30px;
                    margin-left: 0;

                    .c-Location {
                        &__Icon {
                            font-size: $font-small;
                        }
                        p {
                            padding-left: 5px;
                        }
                    }

                    .c-Date-and-time {
                        .c-Date {
                            &__Icon {
                                font-size: $font-small;
                            }
                            p {
                                padding-left: 5px;
                            }
                        }
                        .c-Time {
                            &__Icon {
                                font-size: $font-small;
                            }
                            p {
                                padding-left: 5px;
                            }
                        }
                    }
                }
            }

            &__Desc {
                margin-top: 20px;
            }
        }
    }
}

.c-View-event-skeleton {
    &__Middle {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        justify-content: space-between;
        align-items: center;

        .c-Middle__Pic {
            flex: 0.8;
            img {
                width: 100%;
                height: 100%;
                aspect-ratio: 1 / 1;
                border-radius: 5px;
                box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
                    0 8px 16px -8px rgba(0, 0, 0, 0.3);
            }
        }

        .c-Middle__Info {
            flex: 1;
            margin-left: 100px;
            h1 {
                font-size: $font-large;
                font-weight: 700;
            }
            .c-Info__Pill {
                display: block;
                margin-top: 10px;
            }
            .c-Location {
                display: flex;
                flex-direction: row;
                margin-top: 15px;
                align-items: center;
                &__Icon {
                    font-size: $font-medium;
                }
                span {
                    margin-left: 10px;
                }
            }
            .c-Date-and-time {
                display: flex;
                flex-direction: row;
                margin-top: 10px;
                .c-Date {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    &__Icon {
                        font-size: $font-medium;
                    }
                    span {
                        margin-left: 10px;
                    }
                }
                .c-Time {
                    padding-left: 20px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    &__Icon {
                        font-size: $font-medium;
                    }
                    span {
                        margin-left: 10px;
                    }
                }
            }

            .c-Info__Price {
                margin: 20px 0;
                h2 {
                    font-size: $font-medium;
                    font-weight: bold;
                }
                p {
                    font-size: $font-x-small;
                    color: #818181;
                }
            }

            a {
                width: 100%;
            }
        }
    }

    &__Desc {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 30px 0;
        text-align: center;
        h2 {
            font-size: $font-medium;
            font-weight: bold;
        }
        span {
            margin-top: 10px;
        }
    }

    hr {
        margin: 20px 0;
        height: 0px;
        border: none;
        border-top: 0.0000000001px solid #cbcbcb;
        border-radius: 5px;
    }

    &__View-all-events {
        padding: 30px 0;
        padding-bottom: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media (max-width: 1000px) {
        max-width: 400px;
        margin: auto;
        .c-View-event-skeleton {
            &__Middle {
                flex-direction: column;
                align-items: unset;

                .c-Middle__Pic {
                    flex: 1;
                    width: 100%;
                    span {
                        width: 100% !important;
                        height: 300px !important;
                    }
                }

                .c-Middle__Info {
                    margin-top: 30px;
                    margin-left: 0;

                    .c-Info__Name {
                        width: 100% !important;
                    }

                    .c-Location {
                        &__Icon {
                            font-size: $font-small;
                        }
                        span {
                            margin-left: 5px;
                        }
                    }

                    .c-Date-and-time {
                        .c-Date {
                            &__Icon {
                                font-size: $font-small;
                            }
                            span {
                                margin-left: 5px;
                            }
                        }
                        .c-Time {
                            &__Icon {
                                font-size: $font-small;
                            }
                            span {
                                margin-left: 5px;
                            }
                        }
                    }
                }
            }

            &__Desc {
                margin-top: 20px;
                span {
                    width: 100% !important;
                    height: 100px !important;
                }
            }
        }
    }
}
