// App colors
$paym-blue: #1731A6;
$error: #DF1B41;

// Gradient colors
$gradient-ig: linear-gradient(90deg, #F1645E, #EF32D1, #7A6FF2);
$gradient-fire: linear-gradient(90deg,#ED186A,#FF6700,#FFCB39);;