// App colors
$paym-blue: #1731a6;
$error: #df1b41;

// Gradient colors
$gradient-ig: linear-gradient(90deg, #f1645e, #ef32d1, #7a6ff2);
$gradient-fire: linear-gradient(90deg, #ed186a, #ff6700, #ffcb39); ;
