.c-Accordion {
    max-width: 570px;
    margin: auto;
    border-bottom: 0.0000000001px solid #cbcbcb;
    .c-Accordion-group {
        border-top: 0.0000000001px solid #cbcbcb;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 0;

        .c-Summary {
            margin: 10px 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            cursor: pointer;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
            h1 {
                font-size: $font-small;
                font-weight: bold;
            }
            &__Icon {
                font-size: 20px;
                transition: transform 0.2s ease;
                &--expanded {
                    transform: rotate(-180deg);
                }
            }
        }

        .c-Detail {
            overflow-y: hidden;
            will-change: height;
            transition: height 0.2s ease;
            p {
                overflow-y: hidden;
                font-size: $font-small;
            }
        }
    }
}
