.c-Event-list-item {
    display: flex;
    flex-direction: row;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
        opacity: 0.8;
        transform: translateY(-1px);
        box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1),
            0 3px 6px rgba(0, 0, 0, 0.08);
    }

    &:active {
        opacity: 0.7;
        transform: translateY(0px);
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    .c-Img {
        img {
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .c-No-image {
            background-color: #f5f5f5;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 200px;
            height: 200px;

            &__Icon {
                font-size: $font-large;
            }

            p {
                font-size: $font-x-small;
                font-weight: bold;
            }
        }
    }

    .c-Desc {
        margin: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        h1 {
            font-size: $font-medium;
            font-weight: bold;
            text-overflow: ellipsis;
            max-width: 400px;
            white-space: nowrap;
            overflow: hidden;
        }
        .c-Location {
            display: flex;
            flex-direction: row;
            color: #545969;
            align-items: center;
            margin-top: 15px;
            &__Icon {
                font-size: 18px;
            }
            p {
                font-size: $font-small;
                margin-left: 5px;
                font-weight: 500;
                text-overflow: ellipsis;
                max-width: 400px;
                white-space: nowrap;
                overflow: hidden;
            }
        }

        .c-Date-and-time {
            display: flex;
            flex-direction: row;
            margin-top: 8px;
            .c-Date {
                display: flex;
                flex-direction: row;
                color: #545969;
                align-items: center;
                &__Icon {
                    font-size: 16px;
                }
                p {
                    font-size: $font-small;
                    margin-left: 5px;
                    font-weight: 500;
                    text-overflow: ellipsis;
                    max-width: 400px;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
            .c-Time {
                display: flex;
                flex-direction: row;
                color: #545969;
                align-items: center;
                margin-left: 30px;
                &__Icon {
                    font-size: 18px;
                }
                p {
                    font-size: $font-small;
                    margin-left: 5px;
                    font-weight: 500;
                    text-overflow: ellipsis;
                    max-width: 400px;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
        }

        .c-Bottom {
            display: flex;
            flex-direction: row;
            width: 100%;
            margin-top: 15px;
            h2 {
                margin-left: auto;
                font-size: $font-medium;
                text-overflow: ellipsis;
                max-width: 400px;
            }
        }
    }

    @media (max-width: 1000px) {
        .c-Img {
            img {
                width: 130px;
                height: 130px;
            }
        }

        .c-Desc {
            h1 {
                max-width: 250px;
            }
            .c-Location {
                margin-top: 5px;
                &__Icon {
                    font-size: 15px;
                }
                p {
                    margin-left: 5px;
                    font-weight: 500;
                    max-width: 250px;
                }
            }

            .c-Date-and-time {
                margin-top: 5px;
                .c-Date {
                    &__Icon {
                        font-size: 13px;
                    }
                }
                .c-Time {
                    margin-left: 15px;
                    &__Icon {
                        font-size: 15px;
                    }
                }
            }

            .c-Bottom {
                margin-top: 5px;
            }
        }
    }

    @media (max-width: 480px) {
        flex-direction: column;
        align-items: center;
        .c-Img {
            img {
                width: calc(100vw - 80px);
                height: 100%;
            }
        }
        .c-Desc {
            margin-top: 10px;
            .c-Location {
                p {
                    max-width: 250px;
                }
            }
            .c-Bottom {
                flex-direction: column;
                h2 {
                    margin-top: 5px;
                    margin-left: 0;
                }
            }
        }
    }
}

.c-Event-list-item-skeleton {
    display: flex;
    flex-direction: row;
    .c-Desc {
        margin: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        .c-Date-and-time {
            display: flex;
            flex-direction: row;
            margin-top: 8px;
            .c-Time {
                margin-left: 30px;
            }
        }
    }
}
