.c-Firebase-image-parent {
    transform: none;
    aspect-ratio: 1 / 1;
    &--loading {
        animation: skeleton-loading 1s linear infinite alternate;

        @keyframes skeleton-loading {
            0% {
                background-color: hsl(0, 0%, 91%);
            }
            100% {
                background-color: hsl(0, 0%, 82%);
            }
        }
    }
}

.c-Firebase-image-loading {
    transform: none;
    aspect-ratio: 1 / 1;
}

.c-Firebase-image-error {
    background-color: #f5f5f5;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;

    &__Icon {
        font-size: $font-large;
    }

    p {
        font-size: $font-x-small;
        font-weight: bold;
    }
}
