.c-Segmented-control {
    ::-webkit-scrollbar {
        height: 0;
    }
    .c-Tabs {
        margin: 20px 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        overflow-y: scroll;

        .c-Tab {
            padding: 5px 7px;
            border-radius: 5px;
            margin: 0 10px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            transition: all 200ms ease-in-out;
            cursor: pointer;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
            color: #545969;
            box-sizing: border-box;

            &:first-of-type {
                margin-left: 0;
            }

            &:last-of-type {
                margin-right: 0;
            }

            h1 {
                white-space: nowrap;
                font-size: $font-x-small;
                font-weight: bold;
            }
            &--selected {
                background-color: $paym-blue;
                color: white;
            }
            &:hover {
                opacity: 0.8;
                transform: translateY(-1px);
            }

            &:active {
                opacity: 0.7;
                transform: translateY(0px);
            }
        }
    }

    .c-Contents {
        .c-Content {
            display: none;
            &--selected {
                display: block;
            }
        }
    }
}
